{{ if .Site.Params.options.collapsibleSidebar -}}
  <ul class="list-unstyled collapsible-sidebar">
  {{ $currentPage := . -}}
  {{ range $index, $element := .Site.Menus.guides -}}
  {{- $active := or ($currentPage.IsMenuCurrent "guides" .) ($currentPage.HasMenuCurrent "guides" .) -}}
  {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
    <li class="mb-1">
      <!-- TODO: Convert to CSS-only -->
      <a href="{{ .URL | relURL }}" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#section-{{ .Identifier }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
        {{ .Name }}
      </a>
      {{ if .HasChildren -}}
      <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ .Identifier }}">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        {{ range .Children -}}
          {{- $active := or ($currentPage.IsMenuCurrent "guides" .) ($currentPage.HasMenuCurrent "guides" .) -}}
          {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
          <li><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end -}}
        </ul>
      </div>
      {{ end -}}
    </li>
  {{ end -}}
  </ul>
{{ else -}}
  {{ $currentPage := . -}}
  {{ range .Site.Menus.guides -}}
    <h3 class="h6 text-uppercase">{{ .Name }}</h3>
    {{ if .HasChildren -}}
    <ul class="list-unstyled">
      {{ range .Children -}}
        {{- $active := or ($currentPage.IsMenuCurrent "guides" .) ($currentPage.HasMenuCurrent "guides" .) -}}
        {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
        <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end -}}
    </ul>
    {{ end -}}
  {{ end -}}
{{ end -}}