{{ $filePath := replace .File.Path "\\" "/" }}
{{ $editPath := "/-/blob/" }}
{{ $contentPath := print .Site.Params.siteRepo $editPath .Site.Params.siteRepoBranch "/content/" }}
{{ $url := print $contentPath $filePath }}

<div class="edit-page">
  <a href="{{ $url }}" target="_blank">
    {{ (resources.Get "icons/edit.svg").Content | safeHTML -}}
    Edit this page on GitLab
  </a>
</div>