{{ $filePath := replace .File.Path "\\" "/" }}
{{ $historyPath := "/-/commits/" }}
{{ $contentPath := print .Site.Params.siteRepo $historyPath .Site.Params.siteRepoBranch "/content/" }}
{{ $url := print $contentPath $filePath }}


<div class="last-modified">
  <a {{ if and .GitInfo .Site.Params.siteRepo -}} href="{{ $url }}" target="_blank" {{- end }}>
    {{ (resources.Get "icons/clock.svg").Content | safeHTML -}}
    Last modified on <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format "January 2, 2006" }}</time>
  </a>
</div>