{{ if .Params.tags -}}
  <div class="taglist">
    Tags:
    {{ range $i, $t := .Params.tags -}}
      {{ if $i }}, {{ end }}
      <a class="" href="{{ "/tags/" | relURL }}{{ . | urlize }}/" rel="tag" aria-label="Pages tagged with: {{ . }}">{{ replace . "\u0020" "\u00a0" }}</a>
    {{- end }}
  </div>
{{ end -}}