{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <div class="blog-header">
        <h1>{{ .Title }}</h1>
        <p><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></p>
      </div>
      <p class="lead">
        {{- if isset .Params "lead" -}}
          {{- .Params.lead -}}
        {{- else -}}
          {{- .Description -}}
        {{- end -}}
      </p>
      {{ partial "main/tags.html" . }}
      {{ .Content }}
    </article>
  </div>
</div>
{{ end }}