{{/* TODO: Redesign and build Guides landing page */}}
{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <h1 class="text-center">{{ .Title }}</h1>
    <div class="text-center">{{ .Description }}</div>
    <div class="card-list">
      {{ range .Pages }}
        <div class="card my-3">
          <div class="card-body">
            <a class="stretched-link" href="{{ .RelPermalink }}">{{ .Title }} &rarr;</a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}