.docs-content h2[id]::before,
.docs-content h3[id]::before,
.docs-content h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}

.docs-content .hidden-heading,
.blog.single .content .hidden-heading {
  font-size: 0;
  margin: 0;
  visibility: hidden;
}

.anchor {
  visibility: hidden;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
  text-decoration: none;
}

.card-list {
  margin-top: 2.25rem;
}

.page-footer-meta {
  margin-top: 3rem;
}

.edit-page,
.last-modified {
  font-size: $font-size-sm;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

@include media-breakpoint-up(md) {
  .edit-page,
  .last-modified {
    font-size: $font-size-base;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }
}

.edit-page svg,
.last-modified svg {
  margin-right: 0.4rem;
  margin-bottom: 0.25rem;
  width: 18px;
  height: 18px;
}

p.meta {
  margin-top: 0.5rem;
  font-size: $font-size-base;
}

.breadcrumb {
  margin-top: 2.25rem;
  font-size: $font-size-base;
}

.page-link:hover {
  text-decoration: none;
}

.taglist {
  padding: 0.5rem;
  font-size: $font-size-sm;
  border: 2px solid $card-border-color;
  border-left: none !important;
  border-right: none !important;
  margin-bottom: 2rem;
}

.home .latest {
  padding-top: 0;
}
.home .latest hr {
  margin: 0.5rem 0;
}

.home .row {
  align-items: stretch;
}
.home .card {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  height: calc(100% - 2rem);
}