.alert {
  font-size: $font-size-base;
  margin-bottom: 1rem;
}

.alert-icon {
  margin-right: 0.75rem;
}

.docs main .alert {
  margin: 2rem -1.5rem;
}

.alert-doks {
  background: $beige;
  color: $black;
}

.alert a {
  text-decoration: underline;
}

.alert-primary .alert-link {
  color: $white;
}

.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.alert-secondary .alert-link {
  color: #34383c;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-success .alert-link {
  color: #0c4128;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.alert-info .alert-link {
  color: #04414d;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.alert-warning .alert-link {
  color: #523e02;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-danger .alert-link {
  color: #6a1a21;
}

.alert-light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light .alert-link {
  color: #4f5050;
}

.alert-dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}

.alert-dark .alert-link {
  color: #101214;
}

.alert .alert-link:hover,
.alert .alert-link:focus {
  text-decoration: none;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  z-index: 2;
  padding: 0.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  background-size: 1.5rem;
  filter: invert(1) grayscale(100%) brightness(200%);
}

@include media-breakpoint-up(md) {
  .alert-dismissible .btn-close {
    background-size: 1.25rem;
  }
}

[data-global-alert="closed"] #announcement {
  display: none;
}

.alert code {
  background: darken($beige, 5%);
  color: $black;
  padding: 0.25rem 0.5rem;
}

.alert:not(.alert-doks) a {
  color: inherit;
}

.alert > .w-100 > :last-child {
  margin-bottom: 0;
}