{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <h1 class="text-center">{{ if eq .Section "tags" }}Tag: {{ end }}{{ .Title }}</h1>
    {{- if .Content }}<div class="text-center">{{ .Content }}</div>{{ end }}
    <div class="card-list">
      {{ $paginator := .Paginate (.Pages.ByDate.Reverse) -}}
      {{ range $paginator.Pages -}}
        <div class="card">
          <div class="card-body">
            {{ if ne $.Kind "section" }}<p class="text-muted parent"><small><span class="visually-hidden">Section: </span>{{ .FirstSection.Title }}</small></p>{{ end }}
            <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>{{ .Description }}</p>
            {{ if eq .Section "blog" -}}<p><small><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></small></p>{{ end -}}
          </div>
        </div>
      {{ end -}}
      {{ $.Scratch.Set "paginator" true }}
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</div>
{{ end }}