{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <h1 class="text-center">{{ .Title }}</h1>
    <div class="text-center">{{ .Content }}</div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2 mb-3">
      {{ range (.Paginator 60).Pages.ByTitle }}
        <div class="col">
          <div class="card h-100 m-0">
            <div class="card-body px-3 py-2 text-center">
              <a class="stretched-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    {{ $.Scratch.Set "paginator" true }}
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}