<footer class="footer text-muted">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">
            <p>
              &copy; {{ now.Format "2006" }} {{ .Site.Params.schemaAuthor }}<br>
              {{ .Site.Params.footerLicense | safeHTML }}
            </p>
            <p>{{ .Site.Params.footerPoweredBy | safeHTML }}</p>
            <p>Atom feeds: <a href="{{ (.Site.Home.OutputFormats.Get "RSS").Permalink }}" target="_blank" class="text-nowrap">Whole Site</a> / <a href="{{ ((.Site.GetPage .Site.Params.docsSection).OutputFormats.Get "RSS").Permalink }}" target="_blank">{{ (.Site.GetPage .Site.Params.docsSection).Title }}</a> / <a href="{{ ((.GetPage "/blog").OutputFormats.Get "RSS").Permalink }}" target="_blank">Blog</a>{{ if and (ne . .Site.Home) (ne . (.Site.GetPage .Site.Params.docsSection)) (ne . (.GetPage "/blog")) }}{{ with .OutputFormats.Get "RSS" }} / <a href="{{ .Permalink }}" target="_blank" class="text-nowrap">This Page</a>{{ end }}{{ end }}</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div>
</footer>