{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <p class="meta">{{ .Params.meta | safeHTML }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  <section class="section section-sm latest">
    <div class="container">
      <hr>
      <h2 class="h3">Recently added:</h2>
      <div class="row row-cols-1 row-cols-lg-3 g-4 g-xl-5 mt-0">
        {{ range (first 3 .Site.RegularPages.ByDate.Reverse) -}}
          <div class="col mt-0">
            <div class="card">
              <div class="card-body">
                {{ if ne $.Kind "section" }}<p class="text-muted parent"><small><span class="visually-hidden">Section: </span>{{ .FirstSection.Title }}</small></p>{{ end }}
                <h3><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                <p>{{ .Description }}</p>
                {{ if eq .Section "blog" -}}<p><small><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></small></p>{{ end -}}
              </div>
            </div>
          </div>
        {{ end -}}
      </div>
    </div>
  </section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}