{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

{{ if eq .Site.Params.options.flexSearch false -}}
<div class="sticky-lg-top">
{{ end -}}

<div class="header-bar"></div>

<header class="navbar navbar-expand-md navbar-light doks-navbar">
  <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
    <a class="navbar-brand p-0 me-auto" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
      {{ .Site.Params.Title }}
    </a>

    <button class="btn btn-menu d-block d-md-none order-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Open main menu">
      {{ (resources.Get "icons/menu.svg").Content | safeHTML }}
    </button>

    <div class="offcanvas offcanvas-start border-0 py-md-1" tabindex="-1" id="offcanvasDoks" data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
      <div class="header-bar d-md-none"></div>
      <div class="offcanvas-header d-md-none">
        <h2 class="h5 offcanvas-title ps-2" id="offcanvasDoksLabel"><a class="text-dark" href="{{ "/" | relLangURL }}">{{ .Site.Params.Title }}</a></h2>
        <button type="button" class="btn-close text-reset me-2" data-bs-dismiss="offcanvas" aria-label="Close main menu"></button>
      </div>
      <div class="offcanvas-body px-4">
        <h3 class="h6 text-uppercase mb-3 d-md-none">Sections</h3>
        <ul class="nav flex-column flex-md-row ms-md-n3">
          {{ range .Site.Menus.main -}}
            {{- $active := or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) -}}
            {{- $active = or $active (eq $.Section .Params.section) -}}
            <li class="nav-item">
              <a class="nav-link ps-0 py-1{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
          {{ end -}}
        </ul>
        <hr class="text-black-50 my-4 d-md-none">
        <h3 class="h6 text-uppercase mb-3 d-md-none">Links</h3>
        <ul class="nav flex-column flex-md-row ms-md-auto me-md-n5 pe-md-2">
          {{ range .Site.Menus.outlinks -}}
            <li class="nav-item">
              <a class="nav-link ps-0 py-1" href="{{ .URL | relURL }}" target="_blank">{{ (resources.Get .Pre).Content | safeHTML }}<small class="ms-2 d-md-none">{{ .Name | safeHTML }}</small></a>
            </li>
          {{ end -}}
        </ul>
      </div>
    </div>
    {{ if .Site.Params.options.darkMode -}}
    <button id="mode" class="btn btn-link order-md-1" type="button" aria-label="Toggle user interface mode">
      <span class="toggle-dark">{{ (resources.Get "icons/moon.svg").Content | safeHTML }}</span>
      <span class="toggle-light">{{ (resources.Get "icons/sun.svg").Content | safeHTML }}</span>
    </button>
    {{ end -}}
  </nav>
</header>

{{ if eq .Site.Params.options.flexSearch false }}
</div>
{{ end -}}

{{ if eq .Section .Site.Params.docsSection -}}
<nav class="doks-subnavbar py-2 sticky-lg-top{{ if eq .Site.Params.options.flexSearch false }} d-lg-none{{ end }}" aria-label="Secondary navigation">
  <div class="container-xxl d-flex align-items-md-center">

    {{ if .Site.Params.options.flexSearch -}}
    <form class="doks-search position-relative flex-grow-1 me-auto">
      <input id="search" class="form-control is-search" type="search" placeholder="Search {{ lower (.Site.GetPage .Site.Params.docsSection).Title }}&hellip;" aria-label="Search {{ lower (.Site.GetPage .Site.Params.docsSection).Title }}&hellip;" autocomplete="off">
      <div id="suggestions" class="shadow bg-white rounded d-none"></div>
    </form>
    {{ end -}}

    <button class="btn doks-sidebar-toggle d-lg-none ms-3 order-3 collapsed{{ if eq .Site.Params.options.flexSearch false }} ms-auto{{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#doks-docs-nav" aria-controls="doks-docs-nav" aria-expanded="false" aria-label="Toggle documentation navigation">
      {{ (resources.Get "icons/chevrons-down.svg").Content | safeHTML }}
      {{ (resources.Get "icons/chevrons-up.svg").Content | safeHTML }}
    </button>

  </div>
</nav>

<div class="container-xxl">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav" class="collapse d-lg-none" aria-label="Tertiary navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </aside>
</div>
{{ end -}}