{{/* TODO: Icon support */}}
<div class="alert alert-{{ with .Get "context" }}{{.}}{{ else }}doks{{ end }} d-flex" role="alert">
  <div class="flex-shrink-1 alert-icon">{{ with .Get "icon" }}{{ if $.Get "bold" }}<strong>{{ end }}{{ . }}{{ if $.Get "bold" }}</strong>{{ end }}{{ end }}</div>
  {{ with .Get "text"}}
    <div class="w-100">{{ if $.Get "bold" }}<strong>{{ end }}{{ . | safeHTML }}{{ if $.Get "bold" }}</strong>{{ end }}</div>
  {{ else }}
    {{ with .Inner}}
      <div class="w-100">{{ if $.Get "bold" }}<strong>{{ end }}{{ $.Page.RenderString . }}{{ if $.Get "bold" }}</strong>{{ end }}</div>
    {{ else }}
      {{ errorf "No valid text variable or Inner content given"}}
    {{ end }}
  {{ end}}
</div>